/* Mengatur gaya dasar untuk halaman */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Gaya untuk judul */
h1 {
  color: #020202;
  margin-bottom: 20px;
}

/* Mengatur gaya form */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk label dan input */
label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="date"] {
  padding: 10px;
  width: calc(100% - 22px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Gaya untuk tombol submit */
button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
.btn-home {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-home:hover {
  background-color: #45a049;
}
